/*colors: Dark : 03045E 023E8A 0077B6 0096C7 00B4D8 48CAE4 90E0EF ADE8F4 CAF0F8 Light */


header {
    display:flex;
    align-items: center;
    justify-content: center;
}

.shape{
    height:.5rem;
    width:.5rem;
    margin: .1rem;
    background-color: #03045E;

}
#animationSection{
    padding: 3rem;
    display:flex;
    flex-direction: row;
}

#algorithmSection{
    padding-left: 2rem;
    padding-right:2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#selectedAlgorithmText{
    padding-left: 1rem;
}

.algorithmDropdownButton{
    background-color: #023E8A;
    color: white;
    
}
.algorithmDropdown{
    padding-top: 1.3rem;
    position:relative;
    display:inline-block;
}
.algorithmDropdownSelections{
    display:none;
    position:absolute;
    background-color: #90E0EF;
    min-width: 4rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.algorithmDropdownSelections a{
    color: black;
    padding: .2rem;
    display: block;
    text-decoration: none;
    display: block;
}

.algorithmDropdownSelections a:hover {
    background-color: #CAF0F8;
}

.algorithmDropdown:hover .algorithmDropdownSelections{
    display: block;
}

.algorithmDropdown:hover .algorithmDropdownButton{
    background-color: #0096C7;
}


#numOfElementsSection{
    display: flex;
    flex-direction: row;
}

#numOfElementsForm{
    padding-top: 1rem;
}


#binarySearchSection{
    display:flex;
}

#randomValueId{
    display: flex;
    flex-direction: row;
}

#randomValue{
    padding-top: .2rem;
}

#elementIdSection{
    display:flex;
    flex-direction: row;
}

#elementIdHover{
    display: flex;
    padding-top: .2rem;
}

body {
    background-color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}